<!--<textarea name="implement" placeholder="implement" 
rows="6" cols="100" style="font-size:15px;" [(ngModel)]="dmaic.implementation">

{{dmaic.implementation}}
</textarea>-->

<mat-card>
        <textarea name="analyse" placeholder="analyse" rows="6" cols="21" [(ngModel)]="dmaic.analyse"
        style="font-size:15px;">{{dmaic.analyse}}</textarea> &nbsp;&nbsp;&nbsp;&nbsp;

    <textarea name="implementation" placeholder="implementation" rows="6" cols="21" [(ngModel)]="dmaic.implementation"
        style="font-size:15px;">{{dmaic.implementation}}</textarea>
</mat-card>
