mat-form-field {
    width: 100%;
  }
  
  mat-card{
    padding-left: 30px; 
    width:700px;
    margin-top: 50%;
        
   }
   matPrefix {
     margin-right:8px;
   }
   mat-label {
     font-size:20px;
      margin-bottom: 15px;
   }

   .form-group{
     margin-top: 40px;
   }
  
  