<table>
  <tr>
    <mat-label style="font-size:40px; margin-bottom: 200px"><b>ANALYZE</b></mat-label>
  </tr>
</table>
<br>
<br>

<div class="row">
  <div class="col-sm-6">
    <textarea rows="8" cols="40" maxheight="500" maxlength="50"
      style="font-size:15px;">{{dmaic.measure.target - dmaic.measure.current}}</textarea>
  </div>

  <div class="col-sm-6">
    <textarea placeholder="Reason" rows="8" cols="40" maxheight="500" maxlength="50" [(ngModel)]="dmaic.analyse"
      style="font-size:15px;">{{dmaic.analyse}}</textarea>
  </div>

 
</div>
